version: '3.8'
services:
  postgres:
    image: 'postgres:latest'
    environment:
      POSTGRES_DB: youp
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - '5433:5432'

