body {
    background-color: #dfecece3 !important; 
    font-family: Arial, sans-serif;
  }

  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
  }

  h1 {
    color: #007bff;
  }

  .form-control {
    border-color: #007bff;
  }

  .list-group-item {
    background-color: #f8f9fa;
    border-color: #dee2e6;
    margin-top: 10px;
  }

  .list-group-item strong {
    color: #343a40;
  }

  .list-group-item em {
    color: #6c757d;
  }

  .pagination .page-item .page-link {
    color: #007bff;
    font-size: 18px;
  }

  .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
  }